.hashtech-hero-text h6 {
    color: #086AD8;
    font-weight: 500;
    margin-bottom: 20px;
}
.mb-15 {
    margin-bottom: 15px;
}
h6 {
    font-size: 18px;
}
h1 {
    font-size: 50px;
}
.btn-style{
	padding: 12px 25px;
}
